$color-pry: rgb(0, 134, 187);
$color-sec: rgb(40, 86, 226);
$color-light: white;
$color-light-shade: whitesmoke;

$color-grey: grey;

$res-largest: 75em;
$res-large: 62.5em;
$res-medium: 50em;
$res-small: 37.5em;
