.u-mb-sm {
  margin-bottom: 1.5rem;
}
.u-mb-md {
  margin-bottom: 3rem;
}
.u-mb-lg {
  margin-bottom: 6rem;
}
.u-mb-hg {
  margin-bottom: 8rem;
}
.u-mt-sm {
  margin-top: 1.5rem;
}
.u-mt-md {
  margin-top: 3rem;
}
.u-mt-lg {
  margin-top: 6rem;
}
.u-mt-hg {
  margin-top: 8rem;
}
.u-mr-sm {
  margin-right: 1.5rem;
}
.u-mr-md {
  margin-right: 3rem;
}
.u-mr-lg {
  margin-right: 6rem;
}
.u-mr-hg {
  margin-right: 8rem;
}
.u-ml-sm {
  margin-left: 1.5rem;
}
.u-ml-md {
  margin-left: 3rem;
}
.u-ml-lg {
  margin-left: 6rem;
}
.u-ml-hg {
  margin-left: 8rem;
}
